streamlit
pandas
numpy
scikit-learn
sentence-transformers
google-generativeai
groq
python-dotenv
requests 
rapidfuzz
torchvision
torch
mediapipe==0.10.35
streamlit-webrtc
opencv-python-headless
av
numpy